/********** Advisor */

.salt-advisor {
    align-items: stretch;
}
.suey-window .salt-advisor {
    z-index: 200 !important;
}

.salt-advisor-buttons {
    pointer-events: all;
    left: -1em !important;
    right: -1em !important;
    width: auto !important;
    padding: 0 1.8em !important;
    background-color: transparent;
}

.salt-advisor-scroller {
    position: relative;
    display: flex;
    flex: 1;
    overflow: auto;
    margin: 0;
    padding: 0;
}

.salt-advisor-contents {
    font-size: 86%;

    position: relative;
    display: flex;
    width: calc(100% - 0.71em);
    height: max-content;
    min-height: 5.95em;

    margin: calc((var(--pad-small) * 1.3) * 1.2);
    margin-bottom: 0.1em;
    padding: var(--pad-medium);
    color: rgba(var(--text), 1.0);
    border: none;
    cursor: default;
    user-select: all;
}

.salt-advisor-contents::selection {
    color: rgba(var(--icon), 1);
    background-color: rgba(var(--blacklight), 1);
}

.salt-advisor-welcome-box {
    font-size: 100%;
    user-select: none;
    overflow: hidden;
}

.salt-advisor-welcome-box * {
    text-shadow: -0.075em 0.075em rgba(var(--black), 0.5);
}

.salt-advisor-wave-holder {
    z-index: 1; /* advisor wave */
    position: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    overflow: hidden;
}

.water_wave {
    position: absolute;
    bottom: 0;
    width: 5600px;
    opacity: 1;/*0.8;*/
}

.water_wave_back {
    left: -340px;
    margin-bottom: 0;
    fill: rgb(var(--icon));
    animation: wave-back 6s infinite linear;
}

.water_wave_middle {
    left: -180px;
    margin-bottom: -4px;
    fill: rgb(var(--icon-dark));
    animation: wave-middle 5s infinite linear;
}

.water_wave_front {
    left: -340px;
    margin-bottom: -4px;
    fill: rgb(var(--icon-light));
    animation: wave-front 12s infinite linear;
}

/********** Inspector */

.salt-property-panel {
    display: block;
}

.suey-property-right .salt-plus-minus {
    position: relative;
    min-width: 1.0em !important;
    min-height: 1.0em !important;
    margin: 0 -0.15em !important;
    padding: 0;
}

.salt-view-camera {
    position: relative;
    margin: var(--pad-small) 0.5em;
    border-radius: var(--radius-small);
    outline: solid var(--border-small) rgba(var(--shadow), 0.4);
    box-shadow: inset 0 0 var(--pad-small) 0 rgba(var(--midlight), 0.5); /* inner-glow */
    overflow: hidden;
}

/********** Outliner */

.salt-outliner .outliner-type {
    width: 1em;
    height: 1em;
    text-align: left;
}

.salt-outliner .outliner-type:after { content: '●'; }
.salt-outliner .outliner-type-world { color: rgb(var(--triadic2)); }
.salt-outliner .outliner-type-stage { color: rgb(var(--complement)); }
.salt-outliner .outliner-type-camera { color: rgb(var(--triadic1)); }
.salt-outliner .outliner-type-light { color: rgb(var(--triadic4)); }
.salt-outliner .outliner-type-entity { color: rgb(var(--icon)); }
.salt-outliner .outliner-type-mesh { color: rgb(var(--icon)); }
.salt-outliner .outliner-type-sprite { color: rgb(var(--triadic3)); }
.salt-outliner .outliner-type-line { color: #88ee88; }
.salt-outliner .outliner-type-linesegments { color: #88ee88; }
.salt-outliner .outliner-type-points { color: #ee8888; }
.salt-outliner .outliner-type-geometry { color: #aaeeaa; }
.salt-outliner .outliner-type-material { color: #eeaaee; }

.suey-option.suey-active .outliner-type {
    text-shadow: var(--minus) var(--pixel) rgba(var(--black), 0.25);
}

.salt-outliner .outliner-active-stage .outliner-entity-name {
    color: rgb(var(--complement)) !important;
    text-shadow: var(--minus) var(--pixel) rgba(var(--black), 0.25);
}

.salt-outliner .outliner-entity-name.outliner-entity-hidden {
    color: rgb(var(--triadic1)) !important;
    text-shadow: var(--minus) var(--pixel) rgba(var(--black), 0.25);
}

.suey-option .outliner-name-column {
    margin: 0;
    overflow: hidden;
}

.suey-option .outliner-spacer-column {
    flex-grow: 1;
}

.suey-option .outliner-check-column {
    position: relative;
    margin: 0;
    min-width: 1.25em;
}

.suey-option .outliner-visible-checkbox {
    cursor: pointer;
    position: absolute;
    right: 1em;
    max-width: 1em;
    min-width: 1em;
}

.suey-option .outliner-lock-checkbox {
    cursor: pointer;
    position: absolute;
    right: 0;
    max-width: 1em;
    min-width: 1em;
}

.outliner-script-images {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 0.9em;
    width: 1.4em;
    padding-left: 0.4em;
}

.outliner-script-images .outliner-script-type {
    position: absolute;
    right: 0;
    bottom: 0.1em;
    max-width: 1em;
    max-height: 1em;
    margin: auto;
}

/********** Search Box */

.salt-search-holder {
    display: flex;
    position: relative;
    margin: var(--pad-x-small);
}

.salt-search-box {
    padding: 0.2em 0.25em 0.2em 1.5em !important; /* t r b l */
    margin: none !important;
    width: 100% !important;
}

.salt-search-icon {
    pointer-events: none;
    position: absolute;
    left: 0.8em !important;
    width: calc(var(--row-height) * 0.55) !important;
}

/********** Shaper */

.salt-shaper-canvas {
    display: flex;
    width: 100%;
    height: 100%;
}
