/********** GAME PLAYER */

.salt-player {
    min-height: 200px !important;;
}

.salt-gray-out * {
    /* filter: grayscale(1) contrast(0.5) brightness(0.5) */ /* blur(1px) */ /* !important; */
}

/* Player Controls */
.salt-active-toolbar {
    position: absolute;
    right: 1em;
    top: 1em;
    background-color: rgba(var(--darklight), 1);
    border-radius: var(--radius-small);
    padding: 0.1em !important;
}

.suey-window .salt-active-toolbar {
    outline: solid 0.21em rgba(var(--button-light), 1);
}
.suey-window.suey-active-window .salt-active-toolbar {
    outline: solid 0.21em rgba(var(--icon), 1);
}

/* Player Controls, Button: Background */
.salt-active-toolbar .suey-toolbar-button,
.salt-active-toolbar .suey-button-background {
    background-color: transparent;
    background-image: none;
    border: none;
    outline: none; /* for macos */
    box-shadow: none;
    z-index: 0;  /* toolbar button */
    filter: none;
}

/* Player Controls, Button: Hover */
.salt-active-toolbar .suey-toolbar-button:hover > .suey-button-background {
    background-color: rgba(var(--button-dark), 1) !important;
    box-shadow: /* pop-out-shadow */
        inset var(--minus) var(--pixel) var(--pixel) 0 rgba(var(--white), 0.15),
        inset var(--pixel) var(--minus) var(--pixel) 0 rgba(45, 45, 45, 0.15) !important;
    filter: none !important;
}

/* Player Controls, Button: Active */
.salt-active-toolbar .suey-toolbar-button:active > .suey-button-background,
.salt-active-toolbar .suey-toolbar-button.suey-selected > .suey-button-background {
    background-color: rgba(var(--button-light), 1) !important;
    box-shadow: inset var(--minus) var(--pixel) var(--pad-small) rgba(0, 0, 0, 0.5) !important; /* sunk-in-shadow */
}

.salt-app-outline {
    pointer-events: none;
    position: absolute !important;
    background: transparent;
    border: solid var(--border-small) rgba(var(--complement), 0.7);
    border-radius: 0;
    outline: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.salt-app-side {
    pointer-events: none;
    position: absolute !important;
    background: rgba(var(--button-light), 0.7);
    border: none;
    border-radius: 0;
    outline: none;
    margin: auto;
    backdrop-filter: blur(2px) contrast(0.8) grayscale(0.8);
}
