/********** TOOLBAR */

.salt-toolbar {
    position: absolute !important;
    pointer-events: none;
    align-items: safe center;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    height: calc(var(--button-size) + (var(--pad-small) * 2));
    width: 100%;
    padding: var(--pad-small);
    padding-bottom: var(--pad-micro);
    z-index: 1; /* Toolbar */
}

/********** EYE MENU */

#tb-eye-closed {
    filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg)) var(--drop-shadow);
}
#tb-eye-open {
    filter: none;
}
#tb-eye-lid-top {
    filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg));
}
#tb-eye-lid-bottom {
    filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg));
}

#tb-eye-closed, #tb-eye-lid-top, #tb-eye-lid-bottom {
    opacity: 1.0;
    scale: 0.9; /* for toolbar button scaling, see layout gui class .suey-shadow-box */
    transition:
        transform 0.2s ease-in-out,
        opacity 0.2s ease-in-out;
}

#tb-eye-open {
    opacity: 0.5;
    scale: 0.9;
    transition: opacity 0.2s ease-in-out;
}

.suey-toolbar-button:hover #tb-eye-open, .suey-toolbar-button.suey-selected #tb-eye-open {
    opacity: 1.0;
}

.suey-toolbar-button:hover #tb-eye-lid-top, .suey-toolbar-button.suey-selected #tb-eye-lid-top {
    transform: translate(15%, -15%);
    opacity: 0.0;
}

.suey-toolbar-button:hover #tb-eye-lid-bottom, .suey-toolbar-button.suey-selected #tb-eye-lid-bottom {
    transform: translate(-15%, 15%);
    opacity: 0.0;
}

/********** MODES */

/* Scene Edior 2D */

.suey-toolbar-button:hover #tb-edit-pencil, .suey-toolbar-button.suey-selected #tb-edit-pencil {
    animation: writing 0.7s;
    animation-iteration-count: var(--animation-count);
}

.suey-toolbar-button:hover #tb-edit-pencil-tip, .suey-toolbar-button.suey-selected #tb-edit-pencil-tip {
    filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg));
    animation: writing 0.7s;
    animation-iteration-count: var(--animation-count);
}

#tb-scene2d-frame {
    transform-origin: 50% 5%; /* specific x-offset | y-offset */
}

.suey-toolbar-button:hover #tb-scene2d-frame, .suey-toolbar-button.suey-selected #tb-scene2d-frame {
    animation: swing 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Scene Editor 3D */

#tb-scene3d-sun, #tb-scene3d-mtn1, #tb-scene3d-mtn2, #tb-scene3d-frame {
    filter: none;
    transition: transform 0.7s ease-in-out;
}

.suey-toolbar-button:hover #tb-scene3d-sun, .suey-toolbar-button.suey-selected #tb-scene3d-sun {
    transform: translate(-18%, 12%);
}

.suey-toolbar-button:hover #tb-scene3d-mtn1, .suey-toolbar-button.suey-selected #tb-scene3d-mtn1 {
    transform: translate(12%, -8%);
}

.suey-toolbar-button:hover #tb-scene3d-mtn2, .suey-toolbar-button.suey-selected #tb-scene3d-mtn2 {
    transform: translate(-6%, 4%);
}

/* UI Editor */

.suey-toolbar-button:hover #tb-ui-joystick, .suey-toolbar-button.suey-selected #tb-ui-joystick {
    transform-origin: bottom center;
    animation: wiggle 0.8s ease-in-out;
    animation-iteration-count: 1;
}

/* World Editor */

#tb-world-background {
    position: absolute;
    width: 80%;
    height: 80%;
    transform: translate(10%, 10%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-repeat: repeat;
    box-shadow:
        inset  0.1em -0.1em 0.3em 0.1em rgba(  0,   0,   0, 0.5),
        inset -0.1em  0.1em 0.3em 0.1em rgba(255, 255, 255, 0.5);
    transition:
        background-position 0.4s ease-in-out;
}

.suey-toolbar-button:hover #tb-world-background, .suey-toolbar-button.suey-selected #tb-world-background {
    background-position: 100%;
}

/********** MOUSE MODES */

#tb-mode-select, #tb-mode-select-cursor,
#tb-mode-look, #tb-mode-look-pupil,
#tb-mode-move, #tb-mode-move-grab,
#tb-mode-zoom {
    filter: brightness(125%) saturate(125%) hue-rotate(var(--rotate-hue)) var(--drop-shadow);
}

/* Select */

.suey-toolbar-button:hover #tb-mode-select, .suey-toolbar-button.suey-selected #tb-mode-select {
    animation: selectBox 0.8s ease-in-out;
    animation-iteration-count: 1;
}

.suey-toolbar-button:hover #tb-mode-select-cursor, .suey-toolbar-button.suey-selected #tb-mode-select-cursor {
    animation: selectCursor 0.8s ease-in-out;
    animation-iteration-count: 1;
}

/* Look */

.suey-toolbar-button:hover #tb-mode-look, .suey-toolbar-button.suey-selected #tb-mode-look {
    animation: lookAround 0.8s ease-in-out;
    animation-iteration-count: 1;
}

.suey-toolbar-button:hover #tb-mode-look-pupil, .suey-toolbar-button.suey-selected #tb-mode-look-pupil {
    animation: look 0.8s ease-in-out;
    animation-iteration-count: 1;
}

/* Move */

#tb-mode-move { opacity: 1.0; }
#tb-mode-move-grab { opacity: 0.0; }

.suey-toolbar-button:hover #tb-mode-move, .suey-toolbar-button.suey-selected #tb-mode-move { opacity: 0.0; }
.suey-toolbar-button:hover #tb-mode-move-grab, .suey-toolbar-button.suey-selected #tb-mode-move-grab {
    opacity: 1.0;
    animation: grabbing 1.3s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Zoom */

.suey-toolbar-button:hover #tb-mode-zoom, .suey-toolbar-button.suey-selected #tb-mode-zoom {
    animation: zoomInOut 0.7s ease-in-out;
    animation-iteration-count: 1;
}

/********** FOCUS */

#tb-focus-target, #tb-reset-target {
    transform: scale(0.0);
    transition: transform 0.25s ease-out;
}

#tb-focus-eye, #tb-reset-axis-x, #tb-reset-axis-y, #tb-focus-scene {
    transition: transform 0.2s ease-out;
}

#tb-focus-pupil {
    filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg));
    transition: transform 0.2s ease-out;
}

.suey-toolbar-button:enabled:hover #tb-focus-eye, .suey-toolbar-button:enabled:active #tb-focus-eye,
.suey-toolbar-button:enabled:hover #tb-focus-pupil, .suey-toolbar-button:enabled:active #tb-focus-pupil,
.suey-toolbar-button:enabled:hover #tb-focus-scene, .suey-toolbar-button:enabled:active #tb-focus-scene,
.suey-toolbar-button:enabled:hover #tb-reset-axis-x, .suey-toolbar-button:enabled:active #tb-reset-axis-x,
.suey-toolbar-button:enabled:hover #tb-reset-axis-y, .suey-toolbar-button:enabled:active #tb-reset-axis-y {
    transform: scale(0.55) translate(calc(var(--pad-micro) * -1), 0);
}

.suey-toolbar-button:enabled:hover #tb-focus-target, .suey-toolbar-button:enabled:active #tb-focus-target,
.suey-toolbar-button:enabled:hover #tb-reset-target, .suey-toolbar-button:enabled:active #tb-reset-target {
    transform: scale(1.0);
}

/********** TRANSFORM MODES */

/* None */

.suey-toolbar-button #tb-tool-none {
    animation: zoomOutReverse 0.25s ease-in-out;
    animation-iteration-count: 1;
}

.suey-toolbar-button:hover #tb-tool-none, .suey-toolbar-button.suey-selected #tb-tool-none {
    animation: zoomOut 0.35s ease-in-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Translate */

.suey-toolbar-button:hover #tb-tool-translate, .suey-toolbar-button.suey-selected #tb-tool-translate {
    animation: wobble 0.9s ease-out;
    animation-iteration-count: 1;
}

/* Rotate */

.suey-toolbar-button:hover #tb-tool-rotate, .suey-toolbar-button.suey-selected #tb-tool-rotate {
    animation: rotate360 0.9s;
    animation-iteration-count: 1;
}

/* Scale */

.suey-toolbar-button:hover #tb-tool-scale, .suey-toolbar-button.suey-selected #tb-tool-scale {
    animation: growShrink 1.1s ease-in-out;
    animation-iteration-count: 1;
}

/* Rect */

.suey-toolbar-button:hover #tb-tool-rect-left-top, .suey-toolbar-button.suey-selected #tb-tool-rect-left-top,
.suey-toolbar-button:hover #tb-tool-rect-left-bot, .suey-toolbar-button.suey-selected #tb-tool-rect-left-bot {
    animation: resizeRectLeft 0.7s ease-in-out;
    animation-iteration-count: 1;
}

.suey-toolbar-button:hover #tb-tool-rect-right-top, .suey-toolbar-button.suey-selected #tb-tool-rect-right-top,
.suey-toolbar-button:hover #tb-tool-rect-right-bot, .suey-toolbar-button.suey-selected #tb-tool-rect-right-bot {
    animation: resizeRectRight 0.7s ease-in-out;
    animation-iteration-count: 1;
}

/* Snap */

#tb-snap-attract {
    opacity: 0;
}

.suey-toolbar-button:enabled:hover #tb-snap-attract, .suey-toolbar-button.suey-selected #tb-snap-attract {
    animation: flicker 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Paint */

.suey-toolbar-button:hover #tb-paint-brush, .suey-toolbar-button.suey-selected #tb-paint-brush {
    animation: painting 0.4s;
    animation-iteration-count: 2;
}

/********** LAYER */

#tb-arrange-top    { z-index: 3; }
#tb-arrange-middle { z-index: 1; }
#tb-arrange-bottom { z-index: 0;
    filter: brightness(100%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 0deg)) var(--drop-shadow);
}
#tb-arrange-top, #tb-arrange-middle, #tb-arrange-bottom {
    transition: all 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-arrange-top, .suey-toolbar-button.suey-selected #tb-arrange-top {
    transform: translate(0%, 20%);
}

.suey-toolbar-button:hover #tb-arrange-middle, .suey-toolbar-button.suey-selected #tb-arrange-middle {
    transform: translate(0%, 20%);
}

.suey-toolbar-button:hover #tb-arrange-bottom, .suey-toolbar-button.suey-selected #tb-arrange-bottom {
    transform: translate(0%, -38%);
    z-index: 5;
}

/********** VIEWS */

#tb-toggle-back-1 { opacity: 1; }
#tb-toggle-back-2 { opacity: 0; }

#tb-toggle-back-1, #tb-toggle-back-2 {
    transition: opacity 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-toggle-back-1, .suey-toolbar-button.suey-selected #tb-toggle-back-1 { opacity: 0; }
.suey-toolbar-button:hover #tb-toggle-back-2, .suey-toolbar-button.suey-selected #tb-toggle-back-2 { opacity: 1; }

#tb-toggle-button-1, #tb-toggle-button-2 {
    transition: transform 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-toggle-button-1, .suey-toolbar-button.suey-selected #tb-toggle-button-1 {
    transform: translate(-38%, 0%);
}

.suey-toolbar-button:hover #tb-toggle-button-2, .suey-toolbar-button.suey-selected #tb-toggle-button-2 {
    transform: translate( 38%, 0%);
}

/********** PLAY */

/* Play */

.suey-toolbar-button:enabled:hover #tb-play-arrow, .suey-toolbar-button:enabled:active #tb-play-arrow {
    animation: zoomAway 0.7s;
    animation-iteration-count: 1;
}

/* Pause */

.suey-toolbar-button:hover #tb-play-pause, .suey-toolbar-button.suey-selected #tb-play-pause {
    animation: growShrink 1.1s ease-in-out;
    animation-iteration-count: 1;
}

.suey-toolbar-button:hover #tb-play-active, .suey-toolbar-button.suey-selected #tb-play-active {
    animation: growShrink 1.1s ease-in-out;
    animation-iteration-count: 1;
}

/* Stop */

.suey-toolbar-button:hover #tb-play-stop, .suey-toolbar-button.suey-selected #tb-play-stop {
    animation: growShrink 1.1s ease-in-out;
    animation-iteration-count: 1;
}

/* Screenshot */

#tb-camera-lens, #tb-camera-flash {
    transform: scale(0.0);
}

.suey-toolbar-button:enabled:hover #tb-camera-lens, .suey-toolbar-button:enabled:active #tb-camera-lens {
    animation: lensClick 0.15s;
    animation-iteration-count: 1;
}

.suey-toolbar-button:enabled:hover #tb-camera-flash, .suey-toolbar-button:enabled:active #tb-camera-flash {
    animation: lensFlash 0.4s;
    animation-iteration-count: 1;
}

/* Screen Style */

#tb-screen-monitor {
    transition: transform 0.3s ease-in-out;
}


.suey-toolbar-button:enabled:hover #tb-screen-monitor, .suey-toolbar-button.suey-selected #tb-screen-monitor {
    transform: scaleX(0.5) scaleY(1.1);
}

/********** SETTINGS */

/* Project */

.suey-toolbar-button:hover #tb-project-ship, .suey-toolbar-button.suey-selected #tb-project-ship {
    animation: takeOff 1.2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* History */

#tb-history-second, #tb-history-minute, #tb-history-hour, #tb-history-center {
    transition: transform 0.5s ease-in-out;
    filter: none;
}

.suey-toolbar-button:enabled:hover #tb-history-second, .suey-toolbar-button.suey-selected #tb-history-second {
    transform: rotateZ(-1080deg);
}

.suey-toolbar-button:enabled:hover #tb-history-minute, .suey-toolbar-button.suey-selected #tb-history-minute {
    transform: rotateZ(-360deg);
}

.suey-toolbar-button:enabled:hover #tb-history-hour, .suey-toolbar-button.suey-selected #tb-history-hour {
    transform: rotateZ(-90deg);
}

/* Settings */

#tb-settings-center {
    filter: none;
}

#tb-settings-gear {
    transition: transform 0.4s linear;
}

.suey-toolbar-button:enabled:hover #tb-settings-gear, .suey-toolbar-button.suey-selected #tb-settings-gear {
    transform: rotateZ(180deg);
}

#tb-settings-shadow {
    opacity: 0.75;
    transition: transform 0.4s linear;
    filter: none;
}

.suey-toolbar-button:enabled:hover #tb-settings-shadow, .suey-toolbar-button.suey-selected #tb-settings-shadow {
    transform: rotateZ(-180deg);
}
