/********** Toolbar */

.salt-toolbar {
    position: absolute !important;
    pointer-events: none;
    align-items: safe center;
    display: flex;
    flex-direction: row;
    left: 0;
    top: 0;
    height: calc(var(--button-size) + (var(--pad-small) * 2));
    width: 100%;
    padding: var(--pad-small);
    padding-bottom: var(--pad-micro);
    z-index: 2; /* Toolbar */
}

/********** Eye Menu */

#tb-eye-closed      { filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg)) var(--drop-shadow); }
#tb-eye-open        { filter: none; }
#tb-eye-lid-top     { filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg)); }
#tb-eye-lid-bottom  { filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg)); }

#tb-eye-closed, #tb-eye-open, #tb-eye-lid-top, #tb-eye-lid-bottom {
    opacity: 1.0;
    scale: 0.9;
    transition: all 0.2s ease-in-out;
}
#tb-eye-open {
    opacity: 0.5;
}

.suey-toolbar-button:hover #tb-eye-open, .suey-toolbar-button.suey-selected #tb-eye-open {
    opacity: 1.0;
}
.suey-toolbar-button:hover #tb-eye-lid-top, .suey-toolbar-button.suey-selected #tb-eye-lid-top {
    transform: translate(15%, -15%);
    opacity: 0.0;
}
.suey-toolbar-button:hover #tb-eye-lid-bottom, .suey-toolbar-button.suey-selected #tb-eye-lid-bottom {
    transform: translate(-15%, 15%);
    opacity: 0.0;
}

/********** Viewports */

/* World Graph */

#tb-world-background {
    position: absolute;
    width: 80%;
    height: 80%;
    transform: translate(10%, 10%);
    border-radius: 50%;
    background-size: 200% 100%;
    background-repeat: repeat;
    box-shadow:
        inset  0.1em -0.1em 0.3em 0.1em rgba(  0,   0,   0, 0.5),
        inset -0.1em  0.1em 0.3em 0.1em rgba(255, 255, 255, 0.5);
    transition: background-position 0.4s ease-in-out;
}
.suey-toolbar-button.suey-selected #tb-world-background { background-position: 100%; transition-duration: 0.0s; }
.suey-toolbar-button:hover #tb-world-background         { background-position: 100%; transition-duration: 0.4s; }

/* Scene 2D Editor */

#tb-scene2d-frame {
    transform-origin: 50% 5%; /* specific x-offset | y-offset */
    animation-fill-mode: forwards;
}
.suey-toolbar-button.suey-selected #tb-scene2d-frame    { animation: swing 0.0s; }
.suey-toolbar-button:hover #tb-scene2d-frame            { animation: swing 1.0s; }

/* Scene 3D Editor */

#tb-scene3d-sun, #tb-scene3d-mtn1, #tb-scene3d-mtn2, #tb-scene3d-frame {
    filter: none;
    transition: transform 0.5s ease-in-out;
}
.suey-toolbar-button.suey-selected #tb-scene3d-sun  { transform: translate(-18%, 12%); transition-duration: 0.0s; }
.suey-toolbar-button:hover #tb-scene3d-sun          { transform: translate(-18%, 12%); transition-duration: 0.5s; }
.suey-toolbar-button.suey-selected #tb-scene3d-mtn1 { transform: translate( 12%, -8%); transition-duration: 0.0s; }
.suey-toolbar-button:hover #tb-scene3d-mtn1         { transform: translate( 12%, -8%); transition-duration: 0.5s; }
.suey-toolbar-button.suey-selected #tb-scene3d-mtn2 { transform: translate( -6%,  4%); transition-duration: 0.0s; }
.suey-toolbar-button:hover #tb-scene3d-mtn2         { transform: translate( -6%,  4%); transition-duration: 0.5s; }

/* Scene UI Editor */

#tb-ui-joystick {
    transform-origin: bottom center;
}
.suey-toolbar-button.suey-selected #tb-ui-joystick  { animation: wiggle 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-ui-joystick          { animation: wiggle 0.7s ease-in-out; }

/********** Mouse Modes */

#tb-mode-select, #tb-mode-select-cursor,
#tb-mode-look, #tb-mode-look-pupil,
#tb-mode-move, #tb-mode-move-grab,
#tb-mode-zoom {
    filter: brightness(125%) saturate(125%) hue-rotate(var(--rotate-hue)) var(--drop-shadow);
}

/* Select */

.suey-toolbar-button.suey-selected #tb-mode-select          { animation: selectBox 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-mode-select                  { animation: selectBox 0.8s ease-in-out; }
.suey-toolbar-button.suey-selected #tb-mode-select-cursor   { animation: selectCursor 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-mode-select-cursor           { animation: selectCursor 0.8s ease-in-out; }

/* Look */

.suey-toolbar-button.suey-selected #tb-mode-look        { animation: lookAround 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-mode-look                { animation: lookAround 0.9s ease-in-out; }
.suey-toolbar-button.suey-selected #tb-mode-look-pupil  { animation: look 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-mode-look-pupil          { animation: look 0.9s ease-in-out; }

/* Move */

#tb-mode-move {
    opacity: 1.0;
}
#tb-mode-move-grab {
    opacity: 0.0;
    animation-fill-mode: forwards;
}
.suey-toolbar-button:hover #tb-mode-move, .suey-toolbar-button.suey-selected #tb-mode-move { opacity: 0.0; }
.suey-toolbar-button.suey-selected #tb-mode-move-grab   { opacity: 1.0; animation: grabbing 0.0s; }
.suey-toolbar-button:hover #tb-mode-move-grab           { opacity: 1.0; animation: grabbing 0.9s; }

/* Zoom */

.suey-toolbar-button.suey-selected #tb-mode-zoom    { animation: zoomInOut 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-mode-zoom            { animation: zoomInOut 0.7s ease-in-out; }

/********** Focus */

#tb-focus-target, #tb-reset-target {
    transform: scale(0.0);
    transition: transform 0.25s ease-out;
}

#tb-focus-eye, #tb-reset-axis-x, #tb-reset-axis-y, #tb-focus-scene {
    transition: transform 0.2s ease-out;
}

#tb-focus-pupil {
    filter: brightness(65%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 160deg));
    transition: transform 0.2s ease-out;
}

.suey-toolbar-button:enabled:hover #tb-focus-eye, .suey-toolbar-button:enabled:active #tb-focus-eye,
.suey-toolbar-button:enabled:hover #tb-focus-pupil, .suey-toolbar-button:enabled:active #tb-focus-pupil,
.suey-toolbar-button:enabled:hover #tb-focus-scene, .suey-toolbar-button:enabled:active #tb-focus-scene,
.suey-toolbar-button:enabled:hover #tb-reset-axis-x, .suey-toolbar-button:enabled:active #tb-reset-axis-x,
.suey-toolbar-button:enabled:hover #tb-reset-axis-y, .suey-toolbar-button:enabled:active #tb-reset-axis-y {
    transform: scale(0.55) translate(calc(var(--pad-micro) * -1), 0);
}

.suey-toolbar-button:enabled:hover #tb-focus-target, .suey-toolbar-button:enabled:active #tb-focus-target,
.suey-toolbar-button:enabled:hover #tb-reset-target, .suey-toolbar-button:enabled:active #tb-reset-target {
    transform: scale(1.0);
}

/********** Transform Modes */

/* None */

.suey-toolbar-button #tb-tool-none                  { animation: zoomOutReverse 0.25s ease-in-out; }
.suey-toolbar-button.suey-selected #tb-tool-none    { animation: zoomOut 0.0s ease-in-out; animation-fill-mode: forwards; }
.suey-toolbar-button:hover #tb-tool-none            { animation: zoomOut 0.4s ease-in-out; animation-fill-mode: forwards; }

/* Translate */

.suey-toolbar-button.suey-selected #tb-tool-translate   { animation: wobble 0.0s ease-out; }
.suey-toolbar-button:hover #tb-tool-translate           { animation: wobble 0.8s ease-out; }

/* Rotate */

.suey-toolbar-button.suey-selected #tb-tool-rotate      { animation: rotate360 0.0s; }
.suey-toolbar-button:hover #tb-tool-rotate              { animation: rotate360 0.9s; }

/* Scale */

.suey-toolbar-button.suey-selected #tb-tool-scale       { animation: growShrink 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-tool-scale               { animation: growShrink 0.7s ease-in-out; }

/* Rect */

.suey-toolbar-button.suey-selected #tb-tool-rect-left-top   { animation: resizeRectLeft 0.0s ease-in-out; }
.suey-toolbar-button.suey-selected #tb-tool-rect-left-bot   { animation: resizeRectLeft 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-tool-rect-left-top           { animation: resizeRectLeft 0.7s ease-in-out; }
.suey-toolbar-button:hover #tb-tool-rect-left-bot           { animation: resizeRectLeft 0.7s ease-in-out; }

.suey-toolbar-button.suey-selected #tb-tool-rect-right-top  { animation: resizeRectRight 0.0s ease-in-out; }
.suey-toolbar-button.suey-selected #tb-tool-rect-right-bot  { animation: resizeRectRight 0.0s ease-in-out; }
.suey-toolbar-button:hover #tb-tool-rect-right-top          { animation: resizeRectRight 0.7s ease-in-out; }
.suey-toolbar-button:hover #tb-tool-rect-right-bot          { animation: resizeRectRight 0.7s ease-in-out; }

/* Paint */

.suey-toolbar-button.suey-selected #tb-paint-brush { animation: painting 0.0s; }
.suey-toolbar-button:enabled:hover #tb-paint-brush { animation: painting 0.4s; animation-iteration-count: 2; }

/********** Plus */

.suey-toolbar-button.suey-selected #tb-node-plus-sign { animation: growShrink 0.7s ease-in-out; }
.suey-toolbar-button:enabled:hover #tb-node-plus-sign { animation: growShrink 0.7s ease-in-out; }

/********** Arrange */

#tb-arrange-top    { z-index: 3; }
#tb-arrange-middle { z-index: 1; }
#tb-arrange-bottom { z-index: 0;
    filter: brightness(87%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 0deg)) var(--drop-shadow);
}
#tb-arrange-top, #tb-arrange-middle, #tb-arrange-bottom {
    transition: all 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-arrange-top, .suey-toolbar-button.suey-selected #tb-arrange-top {
    transform: translate(0%, 20%);
}
.suey-toolbar-button:hover #tb-arrange-middle, .suey-toolbar-button.suey-selected #tb-arrange-middle {
    transform: translate(0%, 20%);
}
.suey-toolbar-button:hover #tb-arrange-bottom, .suey-toolbar-button.suey-selected #tb-arrange-bottom {
    transform: translate(0%, -38%);
    z-index: 5; /* arrange button */
}

#tb-arrange-back,
#tb-arrange-backward,
#tb-arrange-forward,
#tb-arrange-front {
    filter: brightness(87%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 0deg)) var(--drop-shadow);
}

/********** Transform */

#tb-transform-front {
    filter: brightness(87%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 0deg));
}

#tb-transform-front, #tb-transform-back {
    transition: all 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-transform-front, .suey-toolbar-button.suey-selected #tb-transform-front,
.suey-toolbar-button:hover #tb-transform-back, .suey-toolbar-button.suey-selected #tb-transform-back {
    transform: rotateY(180deg);
}

#tb-transform-reset,
#tb-transform-horizontal,
#tb-transform-vertical,
#tb-transform-left,
#tb-transform-right {
    filter: brightness(87%) sepia(1000%) saturate(1000%) hue-rotate(calc(var(--rotate-hue) + 0deg)) var(--drop-shadow);
}

/********** Views */

#tb-toggle-back-1 { opacity: 1; }
#tb-toggle-back-2 { opacity: 0; }

#tb-toggle-back-1, #tb-toggle-back-2 {
    transition: opacity 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-toggle-back-1, .suey-toolbar-button.suey-selected #tb-toggle-back-1 { opacity: 0; }
.suey-toolbar-button:hover #tb-toggle-back-2, .suey-toolbar-button.suey-selected #tb-toggle-back-2 { opacity: 1; }

#tb-toggle-button-1, #tb-toggle-button-2 {
    transition: transform 0.3s ease-in-out;
}

.suey-toolbar-button:hover #tb-toggle-button-1, .suey-toolbar-button.suey-selected #tb-toggle-button-1 {
    transform: translate(-38%, 0%);
}

.suey-toolbar-button:hover #tb-toggle-button-2, .suey-toolbar-button.suey-selected #tb-toggle-button-2 {
    transform: translate( 38%, 0%);
}

/********** Grid */

/* Snap (Grid on Top) */

#tb-snap-grid {
    animation-fill-mode: forwards;
}
.suey-toolbar-button.suey-selected #tb-snap-grid { z-index: 1; }
.suey-toolbar-button:enabled:hover #tb-snap-grid { animation: sliding 0.7s ease-in-out; }

/* Snap (Snap to Grid) */

#tb-snap-attract {
    opacity: 0;
    animation-fill-mode: forwards;
}
.suey-toolbar-button:enabled:hover #tb-snap-attract { opacity: 1; animation: flicker 0.5s; }
.suey-toolbar-button.suey-selected #tb-snap-attract { opacity: 1; animation: flicker 0.0s; }

/********** Play */

/* Play */

.suey-toolbar-button:enabled:hover #tb-play-arrow { animation: zoomAway 0.7s; }

/* Pause / Stop */

.suey-toolbar-button:enabled:hover #tb-play-pause   { animation: growShrink 0.7s ease-in-out; }
.suey-toolbar-button:enabled:hover #tb-play-active  { animation: growShrink 0.7s ease-in-out; }
.suey-toolbar-button:enabled:hover #tb-play-stop    { animation: growShrink 0.7s ease-in-out; }

/* Screenshot */

#tb-camera-lens, #tb-camera-flash {
    transform: scale(0.0);
}

.suey-toolbar-button:enabled:hover #tb-camera-lens, .suey-toolbar-button:enabled:active #tb-camera-lens {
    animation: lensClick 0.15s;
}

.suey-toolbar-button:enabled:hover #tb-camera-flash, .suey-toolbar-button:enabled:active #tb-camera-flash {
    animation: lensFlash 0.4s;
}

/* Screen Style */

#tb-screen-monitor {
    transition: transform 0.3s ease-in-out;
}

.suey-toolbar-button:enabled:hover #tb-screen-monitor, .suey-toolbar-button.suey-selected #tb-screen-monitor {
    transform: scaleX(0.5) scaleY(1.1);
}

/********** Settings */

/* Project */

.suey-toolbar-button:hover #tb-project-ship, .suey-toolbar-button.suey-selected #tb-project-ship {
    animation: takeOff 1.2s;
    animation-fill-mode: forwards;
}

/* Notes */

.suey-toolbar-button:hover #tb-notes-pencil, .suey-toolbar-button.suey-selected #tb-notes-pencil {
    animation: writing 0.7s;
}

/* History */

#tb-history-second, #tb-history-minute, #tb-history-hour, #tb-history-center {
    transition: transform 0.5s ease-in-out;
    filter: none;
}

.suey-toolbar-button:enabled:hover #tb-history-second, .suey-toolbar-button.suey-selected #tb-history-second {
    transform: rotateZ(-1080deg);
}

.suey-toolbar-button:enabled:hover #tb-history-minute, .suey-toolbar-button.suey-selected #tb-history-minute {
    transform: rotateZ(-360deg);
}

.suey-toolbar-button:enabled:hover #tb-history-hour, .suey-toolbar-button.suey-selected #tb-history-hour {
    transform: rotateZ(-90deg);
}

/* Settings */

#tb-settings-center {
    filter: none;
}

#tb-settings-gear {
    transition: transform 0.4s linear;
}

.suey-toolbar-button:enabled:hover #tb-settings-gear, .suey-toolbar-button.suey-selected #tb-settings-gear {
    transform: rotateZ(180deg);
}

#tb-settings-shadow {
    opacity: 0.75;
    transition: transform 0.4s linear;
    filter: none;
}

.suey-toolbar-button:enabled:hover #tb-settings-shadow, .suey-toolbar-button.suey-selected #tb-settings-shadow {
    transform: rotateZ(-180deg);
}
