/********** VIEWPORT */

.salt-viewport,
.salt-world-graph {
    user-select: none;
    overflow: hidden !important;
    position: absolute !important;
    margin: auto;
    padding: 0;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/********** RUBBERBAND BOX */

.salt-rubberband-box {
    position: absolute;
    pointer-events: none;
    background-color: rgba(var(--icon), 0.2);
    border: solid var(--border-small) rgba(var(--icon), 0.75);
}
